/* リセットCSS */
body {
  font-size: 14px;
  color: #333;
  margin: 0 auto;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}

ul,li {
  padding: 0;
  margin: 0;
}

.headimg {
  background-color: rgb(255, 255, 255);
  height: 270px;
  width: 1300px;
  object-fit: cover;

}

.grid a{
  text-decoration: none;
  color: black;
}

.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.signup{
  justify-content: space-around;
}

.logout {
  text-decoration: none;
  color: coral;
  margin-right: 30px;
  font-size: large;
  font-weight: 600;
  background-color: aliceblue;
  border: solid 3px #333;
  border-radius: 10px;

}

.login{
  text-decoration: none;
  color: coral;
  margin-right: 30px;
  font-size: large;
  font-weight: 600;
  background-color: aliceblue;
  border: solid 3px #333;
  border-radius: 10px;

}

.sign-up{
  text-decoration: none;
  color: coral;
  margin-right: 30px;
  font-size: large;
  font-weight: 600;
  background-color: aliceblue;
  border: solid 3px #333;
  border-radius: 10px;

}