<div class = "main-field">
 <div class = main-images>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), "/" %>
    <div class = "category-name">
     カテゴリー
    </div>
  </div>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), bustups_path %>
    <div class = "category-name">
     カテゴリー
    </div>
  </div>
 </div>
 <div class = main-images>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), "/" %>
    <div class = "category-name">
     カテゴリー
    </div>
  </div>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), "/" %>
    <div class = "category-name">
     カテゴリー
    </div>
  </div>
 </div>
</div>