<div class = "main-field">
 <div class = main-images>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), halfbodies_path %>
    <div class = "category-name">
     ハーフボディー
    </div>
  </div>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), bustups_path %>
    <div class = "category-name">
     バストアップ
    </div>
  </div>
 </div>
 <div class = main-images>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), fullbodies_path %>
    <div class = "category-name">
     フルボディー
    </div>
  </div>
  <div class="main-images1">
    <%= link_to image_tag('development.jpg', class:"category"), chibis_path %>
    <div class = "category-name">
     ちびすたいる
    </div>
  </div>
 </div>
</div>